.row {
  width: 350px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content{
  padding-top: 50px;
}

#calculator-body {
  width: 330px;
  padding-top: 20px;
  background-color: grey;
  border-radius: 10px;
}

#display {
  width: 285px;
  height: 40px;
  background-color: white;
  text-align: right;
  font-size: 30px;
  border-radius: 4px;
}

.key {
  width: 50px;
  margin: 5px 5px 5px 0px;
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
}

.num {

}

.operator {
  background-color: red;
}

#equal {
  width: 285px;
  font-weight: bold;
  font-size: 20px;
}

#sqrt {
  text-decoration:overline;
}
